
@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
  background-image: url("./assets/circle-scatter-haikei.svg");
  background-repeat: no-repeat;
  background-size: cover;
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.multiple {
  box-shadow: -20px -20px 1px #2e2929, -19px -19px 1px #2e2929, -18px -18px 1px #2e2929,
    -17px -17px 1px #2e2929, -16px -16px 1px #2e2929, -15px -15px 1px #2e2929,
    -14px -14px 1px #2e2929, -13px -13px 1px #2e2929, -12px -12px 1px #2e2929,
    -11px -11px 1px #2e2929, -10px -10px 1px #2e2929, -9px -9px 1px #2e2929,
    -8px -8px 1px #2e2929, -7px -7px 1px #2e2929, -6px -6px 1px #2e2929, -5px -5px 1px #2e2929,
    -4px -4px 1px #2e2929, -3px -3px 1px #2e2929, -2px -2px 1px #2e2929, -1px -1px 1px #2e2929,
    0px 0px 1px #2e2929, 1px 1px 1px #2e2929, 2px 2px 1px #2e2929;
}


/* 

  box-shadow: -20px -20px 1px #2e2929, -19px -19px 1px #2e2929, -18px -18px 1px #2e2929,
    -17px -17px 1px #2e2929, -16px -16px 1px #2e2929, -15px -15px 1px #2e2929,
    -14px -14px 1px #2e2929, -13px -13px 1px #2e2929, -12px -12px 1px #2e2929,
    -11px -11px 1px #2e2929, -10px -10px 1px #2e2929, -9px -9px 1px #2e2929,
    -8px -8px 1px #2e2929, -7px -7px 1px #2e2929, -6px -6px 1px #2e2929, -5px -5px 1px #2e2929,
    -4px -4px 1px #2e2929, -3px -3px 1px #2e2929, -2px -2px 1px #2e2929, -1px -1px 1px #2e2929,
    0px 0px 1px #2e2929, 1px 1px 1px #2e2929, 2px 2px 1px #2e2929;
*/
.temp{
  display:flex;
  flex:0 0;
}

.temp-1{
  display: flex;
  flex-direction: column;
  font-size: small;
  align-items: flex-start;
  row-gap:6px;
  color: #3fbad6;
}

.temp-2{
  display: flex;
  flex:0 0 35%;
  flex-direction: column;
  font-size: small;
  align-items: flex-start;
  row-gap:8px;
  color: #3fbad6;
}
.temp-3{
  display: flex;
  flex:1;
  flex-direction:column;
  align-items:flex-start;
  justify-content:flex-start;
  font-size:small;
  row-gap:8px;
}
.parent-container{
  display: flex;
  flex: 0 0 50%;
  flex-direction: row;
  justify-content: space-between;
}